mat-icon[aria-label="arrow_back"]{
    color: #666;
}
mat-form-field{
    width: 100%;
}
button{
    color: #666;
}
.invalid{
    position: absolute;
    bottom: 8px;
    left: 14px;
    color: red;
    mat-icon{
        font-size: 0.9rem;
        height: 0.8rem;
        width: 0.8rem;
        position: relative;
        top: 2px;
    }
}

.valid{
    position: absolute;
    bottom: 8px;
    left: 14px;
    color: green;
    mat-icon{
        font-size: 0.9rem;
        height: 0.8rem;
        width: 0.8rem;
        position: relative;
        top: 2px;
    }
}