<form class="container" #clienteForm="ngForm" (ngSubmit)="onSubmit($event)" >
    <div class="row">
        <div class="col-12">
            <mat-card>
                <mat-card-content>
                    <div class="row" style="border-bottom: 1px solid #ddd">
                        <h2 style="color: #333">
                            Cliente
                        </h2>
                        <button mat-button [routerLink]="['/clientes']" style="position: relative; top: -5px">
                            <mat-icon aria-hidden="false" aria-label="arrow_back">arrow_back</mat-icon>
                            <span class="tooltip tooltip-right">
                                Voltar
                            </span>
                        </button>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <mat-form-field class="example-full-width">
                                <mat-label>Nome:</mat-label>
                                <input matInput type="text" id='nome' name="nome" 
                                    #nome="ngModel" 
                                    [ngClass]="{
                                        'form-control': true, 
                                        'is-invalid': nome.invalid && nome.dirty, 
                                        'is-valid': nome.valid
                                    }" 
                                    placeholder="Insira o nome" 
                                    required [(ngModel)]="cliente.nome">
                            </mat-form-field><br>
                            <small class="invalid" [hidden]="nome.valid || nome.pristine">
                                <mat-icon aria-hidden="false" aria-label="close">close</mat-icon>
                                O nome é obrigatório
                            </small>
                            <small class="valid" [hidden]="nome.invalid">
                                <mat-icon aria-hidden="false" aria-label="check">check</mat-icon>
                                Tudo certo
                            </small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <mat-form-field class="example-full-width">
                                <mat-label>E-mail:</mat-label>
                                <input matInput type="email" id='email' name="email" 
                                    #email="ngModel" 
                                    [ngClass]="{
                                        'form-control': true, 
                                        'is-invalid': email.invalid && email.dirty, 
                                        'is-valid': email.valid
                                    }" 
                                    placeholder="Insira o e-mail" 
                                    required [(ngModel)]="cliente.email">
                            </mat-form-field><br>
                            <small class="invalid" [hidden]="email.valid || email.pristine">
                                <mat-icon aria-hidden="false" aria-label="close">close</mat-icon>
                                O email é obrigatório
                            </small>
                            <small class="valid" [hidden]="email.invalid">
                                <mat-icon aria-hidden="false" aria-label="check">check</mat-icon>
                                Tudo certo
                            </small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <mat-form-field class="example-full-width">
                                <mat-label>Celular:</mat-label>
                                <input matInput type="tel" id='celular' name="celular" 
                                    #celular="ngModel" 
                                    [ngClass]="{
                                        'form-control': true, 
                                        'is-invalid': celular.invalid && celular.dirty, 
                                        'is-valid': celular.valid
                                    }" 
                                    placeholder="Insira o e-mail" 
                                    required [(ngModel)]="cliente.celular">
                            </mat-form-field><br>
                            <small class="invalid" [hidden]="celular.valid || celular.pristine">
                                <mat-icon aria-hidden="false" aria-label="close">close</mat-icon>
                                O celular é obrigatório
                            </small>
                            <small class="valid" [hidden]="celular.invalid">
                                <mat-icon aria-hidden="false" aria-label="check">check</mat-icon>
                                Tudo certo
                            </small>
                        </div>
                    </div>
                    
                </mat-card-content>
                <mat-card-footer style="text-align: right; padding: 0; border-top: 1px solid #ddd">
                    <div class="row">
                        <div class="col-12">
                            <button mat-raised-button color="primary" type="submit">
                                Salvar
                            </button>
                            &nbsp;
                            <button *ngIf="!id" mat-raised-button type="reset">
                                Limpar
                            </button>
                        </div>
                    </div>
                </mat-card-footer>
            </mat-card>
        </div>
    </div>
</form>