<h1 mat-dialog-title>{{data.message}}</h1>
<div mat-dialog-content>
  <small>
    <table>
      <tr>
        <td><b>Id:&nbsp;</b></td> <td>{{data.item.id}}</td>
      </tr>
      <tr>
        <td><b>Nome:&nbsp;</b></td> <td>{{data.item.nome}}</td>
      </tr>
      <tr>
        <td><b>Celular:&nbsp;</b></td> <td>{{data.item.celular}}</td>
      </tr>
      <tr>
        <td><b>E-mail:&nbsp;</b></td> <td>{{data.item.email}}</td>
      </tr>
    </table>
  </small>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="primary" cdkFocusInitial [mat-dialog-close]="data.item">Sim</button>
  <button mat-raised-button (click)="onNoClick()">Não</button>
</div>