tr.mat-header-row {
    height: 48px;
}
.mat-card-header-text{
    margin: 0 !important;
}
#clientes-list{
    mat-icon[aria-label="close"]{
        color: darkred;
    }
    mat-icon[aria-label="sync"]{
        color: darkblue;
    }
    mat-form-field{
        padding: 0 !important;
        margin: 0 !important;
    }
    input{
        width: 80px;
        text-align: right;
        border: none
    }
    input:active, input:focus, input:hover{
        border: none;
        outline: none;
    }
}

button{
    position: relative;
    padding: 0 5px !important;
    min-width: auto;
}

.tooltip{
    display: none;
    position: absolute;
    z-index: 1;
    top: 38px;
    left: 0;
    background-color: #999;
    color: #FFF;
    padding: 5px 9px;
    line-height: 1em;
    font-weight: normal;
}

.tooltip-right{
    left: auto;
    right: 0;
}

.tooltip.tooltip-right:before{
    left: auto;
    right: 10px;
}

.tooltip:before{
    content: "\25B2";
    color: #999;
    position: absolute;
    top: -12px;
    left: 10px
}

button:hover .tooltip{
    display: inline-block;
}