<div class="container">
    <div class="row">
        <div class="col-12">
            <mat-card>
                <div class="row" style="border-bottom: 1px solid #ddd">
                    <h2 style="color: #333">
                        Clientes
                    </h2>
                    <button mat-button [routerLink]="['/cliente/novo']" style="position: relative; top: -5px">
                        <mat-icon aria-hidden="false" aria-label="add">add</mat-icon>
                        <span class="tooltip tooltip-right">
                            Novo Cliente
                        </span>
                    </button>
                </div>
                <mat-card-content>
                    <table mat-table [dataSource]="clientes" id='clientes-list' width="100%">
                        <ng-container matColumnDef="id">
                            <th mat-header-cell *matHeaderCellDef> ID </th>
                            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                        </ng-container>
                        
                        <!-- Name Column -->
                        <ng-container matColumnDef="nome">
                            <th mat-header-cell *matHeaderCellDef> Nome </th>
                            <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
                        </ng-container>
                        
                        <!-- Weight Column -->
                        <ng-container matColumnDef="celular">
                            <th mat-header-cell *matHeaderCellDef> Celular </th>
                            <td mat-cell *matCellDef="let element"> {{element.celular}} </td>
                        </ng-container>
                        
                        <!-- Symbol Column -->
                        <ng-container matColumnDef="email">
                            <th mat-header-cell *matHeaderCellDef> E-mail </th>
                            <td mat-cell *matCellDef="let element">
                                <a href="mailto:{{element.email}}" style="text-decoration: none; color: darkblue">{{element.email}}</a>
                            </td>
                        </ng-container>
        
                        <ng-container matColumnDef="acoes">
                            <th mat-header-cell *matHeaderCellDef style="text-align: right">
                                
                                <div class="row" style="width: 100px; float: right">
                                    <label>
                                        <input type="text" (keyup)="pesquisar($event)">
                                        <mat-icon aria-hidden="false" aria-label="search" style="font-size: 1.1rem; width: 1em; height: 1em;">search</mat-icon>
                                    </label>
                                </div>
                            </th>
                            <td mat-cell *matCellDef="let element" style="text-align: right">
        
                                <button mat-button [routerLink]="['/cliente', element.id]">
                                    <mat-icon aria-hidden="false" aria-label="sync">sync</mat-icon>
                                    <span class="tooltip">
                                        Alterar
                                    </span>
                                </button>
                                
                                <button mat-button (click)="deletar(element)">
                                    <mat-icon aria-hidden="false" aria-label="close">close</mat-icon>
                                    <span class="tooltip">
                                        Deletar
                                    </span>
                                </button>
        
                            </td>
                        </ng-container>
                        
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        
                    </table>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>