@mixin box-sizing{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

@mixin flex{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

@mixin flex-wrap{
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
}

@mixin flex-row{
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row;
}

@mixin flex-center {
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
}

@mixin flex-between {
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    justify-content: space-between;
}

$size-lg: 1024px;
$size-md: 992px;
$size-sm: 768px;
$size-xs: 560px;

.container{
    display: block;
    margin: 0 auto;
    max-width: $size-lg;
    @include box-sizing;
}

.row{
    width: 100%;
    @include flex;
    @include flex-wrap;
    @include flex-row;
    @include flex-between;
    @include box-sizing;
}

@for $i from 1 through 12{
    .col-#{$i}{
        position: relative;
        width: (($size-lg/12)*$i)-60px;
        padding: 10px 14px;
        @include box-sizing;
    }
}

@media (max-width: $size-lg){
    .container{
        max-width: $size-md;
    }
    @for $i from 1 through 12{
        .col-#{$i}{
            width: (($size-md/12)*$i)-60px;
        }
    }
}
@media (max-width: $size-md){
    .container{
        max-width: $size-sm;
    }
    @for $i from 1 through 12{
        .col-#{$i}{
            width: (($size-sm/12)*$i)-60px;
        }
    }
}
@media (max-width: $size-sm){
    .container{
        max-width: $size-xs;
    }
    @for $i from 1 through 12{
        .col-#{$i}{
            width: 100%;
        }
    }
}